.container-main {
  padding: 2rem;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 15rem) [col-end]
    )
    [center-end] 1fr [full-end];

  background: linear-gradient(
      to right bottom,
      $color-primary,
      $color-primary-dark
    )
    no-repeat;
  background-size: cover;
  &__img {
    width: 100%;

    // position: relative;
    // left: 50%;
    object-fit: cover;
  }
}
// * container

.container {
  grid-column: center-start / center-end;

  border-radius: 2rem;
  box-shadow: 0 2rem 5rem rgba($color-black, 0.2);
  backdrop-filter: blur(10px);
  background-color: rgba($color-white, 0.03);
  display: grid;
  grid-template-columns:
    [full-start] minmax(2rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(2rem, 1fr) [full-end];
  grid-template-rows: min-content 80vh min-content 50vh;
  padding: 2rem;
}
// logo

.logo {
  grid-column: center-start / col-end 1;

  display: flex;
  align-items: center;

  &__text {
    color: #745f47;
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  &__img {
    width: 4rem;
    height: 4rem;
  }
}

%heading {
  font-family: $font-primary;
  font-weight: 600;
}

.heading--1 {
  @extend %heading;
  font-size: 6rem;
  line-height: 1;
  // color: $color-grey-light-2;
}
.heading--2 {
  @extend %heading;
  font-size: 5rem;
  // color: $color-grey-light-2;
}
.heading--3 {
  @extend %heading;
  font-weight: 300;
  font-size: 3rem;
  color: $color-secondary;
}
.heading--4 {
}

.text--1 {
  font-family: $font-secondary;
  font-size: 1.4rem;
  color: $color-text-white;
  font-weight: 300;
}
.text--2 {
  font-size: 1.6rem;
  font-family: $font-secondary;
  font-weight: 300;
  color: $color-grey-light-1;
}
.me {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  // grid-template-rows: 2rem;
  grid-column: center-start / center-end;
  grid-row: 4 / 5;
  grid-row-gap: 4rem;
  padding: 2rem;
  margin-top: 8rem;

  &-h2 {
    grid-row: 1 / 2;
    grid-column: 2 / 6;
    justify-self: center;
    color: $color-grey-light-2;
    margin-top: 4rem;
  }
  &__pic {
    transform: translateY(30%);
    width: 80%;
    justify-self: center;
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    padding: 2rem;
  }

  &-img {
    outline: 0.5rem solid $color-secondary;
    outline-style: inset;
    outline-offset: 0.5rem;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.5);
    width: 100%;
    background-size: cover;
    object-fit: cover;
  }
}
